# Generic
/.nuget/
/.vs/
/artifacts/
/build/
/dist/
/nupkg/
/tmp/

bin/
obj/
*.csproj.user

!/bin/

# Specific
tests/Resend.Tests/TestReport/
tests/Resend.Tests/TestResults/
tests/Resend.FluentEmail.Tests/TestReport/
tests/Resend.FluentEmail.Tests/TestResults/

# eof
