@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img class="x-logo" src="https://mintlify.s3.us-west-1.amazonaws.com/resend/logo-white.svg" alt="Resend" />
</div>

<div class="x-description">
    Example website, which shows how a controller can generate an HTML body
    by using a Razor view.
</div>

<div class="x-links">
    <ul>
        <li>
            <a href="/email/render">Render HTML</a>
        </li>

        <li>
            <a href="/email/send">Send rendered HTML</a>
        </li>
    </ul>
</div>